@tailwind base;
@tailwind components;
@tailwind utilities;

@media print {
  /* Hide everything by default when printing */
  body * {
    visibility: hidden;
  }

  /* Show only the printing preview panel and its contents */
  .printing,
  .printing * {
    visibility: visible;
  }

  .printing {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    background: white;
  }
}
