{
  "$schema": "https://developer.microsoft.com/json-schemas/rush/v5/command-line.schema.json",
  "commands": [
    {
      "name": "prettier",
      "commandKind": "global",
      "summary": "Used by the pre-commit git hook to invoke prettier",
      "safeForSimultaneousRushProcesses": true,
      "autoinstallerName": "rush-prettier",
      "shellCommand": "pretty-quick --staged"
    },
    {
      "name": "test",
      "commandKind": "bulk",
      "summary": "Run tests for all projects in the monorepo",
      "description": "Runs the 'test' npm script for each project in the monorepo according to dependency order. Projects without a test script will be skipped.",
      "safeForSimultaneousRushProcesses": false,
      "enableParallelism": true,
      "ignoreDependencyOrder": false,
      "ignoreMissingScript": true,
      "allowWarningsInSuccessfulBuild": false,
      "incremental": false
    },
    {
      "name": "lint",
      "commandKind": "bulk",
      "summary": "Run linting for all projects in the monorepo",
      "description": "Runs the 'lint' npm script for each project in the monorepo according to dependency order. Projects without a lint script will be skipped.",
      "safeForSimultaneousRushProcesses": false,
      "enableParallelism": true,
      "ignoreDependencyOrder": false,
      "ignoreMissingScript": true,
      "allowWarningsInSuccessfulBuild": false,
      "incremental": false
    },
    {
      "name": "build-docs",
      "commandKind": "bulk",
      "summary": "Build generated documentation for all projects in the monorepo",
      "description": "Runs the 'build-docs' npm script for each project in the monorepo according to dependency order. Projects without a build-docs script will be skipped.",
      "safeForSimultaneousRushProcesses": false,
      "enableParallelism": true,
      "ignoreDependencyOrder": false,
      "ignoreMissingScript": true,
      "allowWarningsInSuccessfulBuild": false,
      "incremental": false
    }
  ],
  "parameters": []
}
