{
  "$schema": "https://developer.microsoft.com/json-schemas/rush/v5/rush.schema.json",
  "rushVersion": "5.162.0",
  "pnpmVersion": "8.15.9",
  "nodeSupportedVersionRange": ">=14.15.0 <15.0.0 || >=16.13.0 <17.0.0 || >=18.15.0 <19.0.0 || >=20.18.0 <21.0.0 || >=22.22.0 <23.0.0",
  "ensureConsistentVersions": true,
  "projectFolderMinDepth": 2,
  "projectFolderMaxDepth": 2,
  "gitPolicy": {},
  "repository": {
    "url": "{{REPO_URL}}",
    "defaultBranch": "main",
    "defaultRemote": "origin"
  },
  "eventHooks": {
    "preRushInstall": [],
    "postRushInstall": [],
    "preRushBuild": [],
    "postRushBuild": []
  },
  "variants": [],
  "projects": [
    {
      "packageName": "@fgv/heft-dual-rig",
      "projectFolder": "rigs/heft-dual-rig",
      "shouldPublish": false,
      "tags": ["tools", "rig"]
    },
    {
      "packageName": "@fgv/typedoc-compact-theme",
      "projectFolder": "plugins/typedoc-compact-theme",
      "shouldPublish": false,
      "tags": ["plugins", "typedoc"]
    }
{{PROJECTS}}
  ]
}
